# Configuration API IA pour recommandations de cordage
VITE_AI_API_KEY=ssk-proj-LqPG27A_V-_EZwQc_9_vj6Gi6j28uP-nOvl7euxePbEVQMMprDP7W-iA8ce3H5AFP7hom3ToY2T3BlbkFJ4tC09NvHu7z3DA6SuP49vNNgdBvvzTVidwdIf6iX5yNyFcdUjUD7DrD4eEPKqXKPJnny440J0A
VITE_AI_API_URL=https://api.openai.com/v1
